DJANGO_ENV=DEVELOPMENT
DJANGO_LOG_LEVEL=INFO
DJANGO_SECRET_KEY=whatever
DJANGO_ALLOWED_HOSTS=127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost

# ===== DATABASE =====
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# ======== EMAIL ============
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_IS_CONSOLE=1
ORDER_NOTIFICATION_EMAIL=

# ======== Test ============
DUMMY_USER_PASSWORD=

# ======== SMSC ============
SMSC_LOGIN=
SMSC_PASSWORD=

# ===== YANDEX =====
YANDEX_API_KEY=

# ===== S3 ==========
S3_ID=
S3_KEY=
S3_BUCKET=
S3_ENDPOINT=https://s3.yandexcloud.net

# ===== CLOUDPAYMENTS ==========
CLOUDPAYMENTS_PUBLIC_ID=
CLOUDPAYMENTS_API_SECRET_KEY=